PASSPORT_STATUS_TOKEN=PLACEHOLDER
PASSPORT_STATUS_DISK=/
PASSPORT_STATUS_INTERFACE=
PASSPORT_STATUS_NGINX_UNIT=nginx.service
PASSPORT_STATUS_MARIADB_UNIT=mariadb.service
PASSPORT_STATUS_PHP_FPM_UNIT=php8.3-fpm.service
